@import 'base/tipografias';
@import 'utilities/listas';
@import 'utilities/mixin';
@import 'utilities/extends';
@import 'components/botones';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/banner';
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    }
/*HEADER*/
#cabecera {
    font-size: nth($tamaño-fuente,2);
    border-bottom: 7px solid nth($colores,2);
    background-color: nth($colores,5);
    padding: 4vh 0px;
    div {
        background-color: nth($colores,5);
        nav {
            ul {
                @extend %centralizador1;
                li {
                    a {
                        color:nth($colores-fuente, 2);
                        font-family: nth($fuentes, 2);
                        font-size: nth($tamaño-fuente,3);
                        &:hover {
                            color:nth($colores-fuente, 1);
                            transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
                            animation: heartBeat;
                            animation-duration: 5s; 
                        }}}}}}
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: none;
            }
        }
/* HEADER PARA DESKTOP */
@media only screen and (min-width : 481px) {
#hamburguesa {
	display: none;
}
}
header {
    @extend %hamburguesa;
}
/*MAIN*/
.presentacion{
    background-color: nth($colores,7);
    padding: 5vh 2vw;
        div{ 
            padding: 10px;
            @extend %centralizador2;
            flex-direction: column; 
            h1, h2 {
                padding: 15px;
                color:nth($colores-fuente,1);
                font-family: nth($fuentes,2);
            }}}
/*BANNER GIRATORIO*/
    .banner {
        background: nth($colores, 4);
        height: 150px;
        div {
            white-space: nowrap;
            padding: 20px 0px 50px 0px;
            font-size: nth($tamaño-fuente,5);
            font-weight: 500;
            color: nth($colores-fuente, 1);
            overflow: hidden;
            position: relative;
            div{
                animation: rolltext 15s linear infinite both;
                color: nth($colores-fuente, 1);
                margin: 0;
                white-space: nowrap;
                display: inline-flex;
                overflow: visible;
                a {
                    color: nth($colores-fuente, 1);
                    font-size: nth($tamaño-fuente,5);
                    font-family: nth($fuentes,1);
                    @extend %banner1;}}}
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                            height: 100px;
                            div {
                                padding: 10px 0px 50px 0px;
                                font-size: nth($tamaño-fuente,4);
                                div{
                                    a {
                                        font-size: nth($tamaño-fuente,4);
                            }}}}}
section {
    div {
        div {
            div {
                img {
                    max-width: 100%;
                    padding: 10px;
                }}}}}
.imagen1 {
    background-color: nth($colores,8);
    @extend %centralizador1;
}
.imagen2 {
    background-color: nth($colores,1);
    @extend %centralizador1;
}
.imagen3 {
    background-color: nth($colores,9);
    @extend %centralizador1;
}
.imagen4 {
    background-color: nth($colores,3);
    @extend %centralizador1;
}
.trabajaconnosotros {
    background-color:nth($colores,5);
    padding: 20px;
    @extend %centralizador2;
    div {
        padding: 20px;
        h2 {
            color:nth($colores-fuente,1);
            font-size: nth($tamaño-fuente,5);
        }}}
.trabajaconnosotros {
    div {
        a {
            @extend %boton;
        }}}

/*LOGO ROTATORIO*/
.trabajaconnosotros {
    div {
        .rosca {
            animation-name: girar;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-timing-function:linear; 
}
@keyframes girar {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }}}}

footer {
    background-color:nth($colores,2);
    padding: 50px;    
        div {         
            div{
                div{
                    
                    p {                      
                        color:nth($colores-fuente,3);
                        font-family: nth($fuentes,2);
                        text-align: center;
                    }}}}}
footer {
    div {
        div {
            div {
                h3 {
                    color:nth($colores-fuente,3);
                    font-family: nth($fuentes,2);
                }}}}}
footer {
    div {
        div {
            div {
                ul {
                    li {      
                        a {
                            text-decoration: none;
                            color:nth($colores-fuente,3);
                            font-family: nth($fuentes,2);
                            }}}}}}}
/* FOOTER PARA CELULAR */
footer {
    @extend %footer;
}
/*PAGINA TRABAJOS*/
.cuerpotrabajos {
    background-color: nth($colores,7);
}
.cuerpoimagenes {
	margin-top: 16vh;
	padding: 3vh 3vw;
}
.wrapper {
	@extend %grid1;
}
#one {
	height: 95%;
	grid-column: 1/8;
	grid-row: 1/5;
    @include estilofoto;
}
#two {
	height: 90%;
	grid-column:8/12;
	grid-row: 1/5;
    @include estilofoto;

}
#three {
	grid-column: 12/17;
	grid-row: 1/7;
    @include estilofoto;
}
#four {
	grid-column: 3/10;
	grid-row: 5/9;
	@include estilofoto;
}
#five {
	height: 85%;
	grid-column: 3/11;
	grid-row: 9/14;
	@include estilofoto;
}
#six {
	width: 100%;
	height: 100%;
	grid-column: 13/16;
	grid-row: 7/12;
	@include estilofoto;
}
#kiwi {
    @include estilofoto2;
}
#maquillaje {
	@include estilofoto2;
}
#bratcelu {
    @include estilofoto2;
    border: rad;
}
#pinbrat {
    @include estilofoto2;
}
#brat1 {
    @include estilofoto2;
}
#brat2 {
    @include estilofoto2;
}
#brat3 {
    @include estilofoto2;
}

/*PAGINA TRABAJOS PARA CELULARES*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.wrapper {
		display:block;
		grid-gap: 10px;
		padding: 10px;
	}
	#kiwi {
		width: 100%;
		height: 100%;
		object-fit:scale-down;
		justify-content: center;
		border-radius: 12px;
	}
	#maquillaje {
		width: 100%;
		height: 100%;
		object-fit:scale-down;
		justify-content: center;
		border-radius: 12px
	}
	#bratcelu {
		width: 100%;
		height: 100%;
		object-fit:scale-down;
		border: rad;
		justify-content: center;
		border-radius: 12px;
	}
	#pinbrat {
		width: 100%;
		height: 100%;
		object-fit:scale-down;
		justify-content: center;
		border-radius: 12px;
	}
	#brat2 {
		width: 100%;
		height: 100%;
		object-fit:scale-down;
		justify-content: center;
		border-radius: 12px;
	}
	#brat3 {
        display: none;
	}
}
/* ZOOM IMAGENES */
.img-hover-zoom {
	height: 100%;
	overflow: hidden;
} 
.img-hover-zoom--slowmo img {
	transform-origin: 50% 65%;
	transition: transform 5s, filter 3s ease-in-out;
}
.img-hover-zoom--slowmo:hover img {
	transform: scale(1.1);
}
/*PAGINA SERVICIOS*/
main {
    .primeraseccion, .terceraseccion {
        background-color: nth($colores,7);
        padding: 5vh 2vw;
        div {
            h2 {
                color: nth($colores-fuente,3);
                font-family: nth($fuentes,4);
            }}}}
main {
    .primeraseccion, .terceraseccion {
            div {
                h3 {
                    color: nth($colores-fuente,3);
                    font-family: nth($fuentes,4);
            
                        }}}}
main {
    .primeraseccion {
            div {
                h4 {
                    color: nth($colores-fuente,3);
                    font-family: nth($fuentes,4);
            
                        }}}}
main {
    .segundaseccion, .cuartaseccion, .sextaseccion {
        background-color: nth($colores,8);
        padding: 5vh 2vw;
        div {
            h2 {
                color: nth($colores-fuente,1);
                font-family: nth($fuentes,4);
            }}}}
main {
    .segundaseccion, .cuartaseccion, .sextaseccion {
            div {
                padding: 20px;
                h3 {
                    padding: 20px;
                    color: nth($colores-fuente,1);
                    font-family: nth($fuentes,4);
                        }}}}
main {
    .segundaseccion, .cuartaseccion {
            div {
                ul {
                    li {
                        color: nth($colores-fuente,1);
                        font-family: nth($fuentes,4);
                    }}}}}
main {
    .terceraseccion 
        {
            div {
                ul {
                    li {
                        color: nth($colores-fuente,3);
                        font-family: nth($fuentes,4);
                    }}}}}
main {
    .sextaseccion {
        background-color:nth($colores,5);
        padding: 20px;
        @extend %centralizador2;
            div {
                margin: 10px;
                padding: 40px 20px;
                a {
                @extend %boton;
                padding: 20px;
                }}}}                       
/*PAGINA ABOUT*/
#acerca {
    section {
        margin: 10vh 0px 10vh 0px;
        @extend %centralizador2;
            div {
                margin: 0 auto;                
                color:nth($colores-fuente,2);
                font-family: nth($fuentes,4);
                width: 400px;
                padding: 20px;
                box-shadow: 0px 10px 15px nth($colores-fuente,1);
                border-radius: 20px;   
                    img {
                        border-radius: 15px;
                        width: 100%;
                        }}
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: block;
            margin: auto;
            div {
                margin: 0 auto;                
                color:nth($colores-fuente,2);
                font-family: nth($fuentes,4);
                width: 400px;
                padding: 20px;
                box-shadow: 0px 10px 15px nth($colores-fuente,1);
                border-radius: 20px;
                width: 90%;   
                    img {
                        border-radius: 15px;
                        width: 75%;
                        }}
}}}
#acerca {
    section {
            div {
                h2 {
                    text-align: center;
                    font-size: nth($tamaño-fuente,5);
                    width: 100%;
                    padding: 10% 0%;
                        }}}}
#acerca {
    section {
            div {
                p {
                    width: 100%;
                    font-family: nth($fuentes,4);
                    font-size: nth($tamaño-fuente,3);
                    line-height: 2rem;
                        }}}}
#acerca {
    section {
            div {
                a{
                    @extend %boton;
                }}}}
/*PAGINA CONTACTO*/
.mainformulario {
    background-color: nth($colores,3);
}
.titulocontacto {
    margin-top: 10vh;
    div {
        h2 {
            @extend %centralizador1;
            font-family: nth($fuentes,2);
            color: nth($colores,2);

        }}}
.titulocontacto {
    div {
        h3 {
            @extend %centralizador1;
            font-family: nth($fuentes,2);
            color: nth($colores,2);

        }}}
.formulario {
    width: 340px;
    height: 440px;
    background-color: nth($colores,5);
    border-radius: 15px;
    box-shadow: 0 0 40px 10px nth($colores,2);
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: nth($fuentes,2);
    position: relative;
    h2 {
        margin: 10px 0;
        text-align: center;
        padding-bottom: 10px;
        width: 100%;
        color:nth($colores-fuente,2);
        border-bottom: 3px solid nth($colores,2);
}}
.formulario {
    p {
        &:before {
            content: attr(type);
            display: block;
            margin: 28px 0 0;
            font-size: 14px;
            color: nth($colores,2);
        }}}
.formulario {
            p {           
            input {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                background: none;
                outline: none;
                resize: none;
                border: 0;
                font-family: nth($fuentes,2);
                transition: all 0.3s;
                border-bottom: 2px solid nth($colores,3);
            &:focus {
                border-bottom: 2px solid nth($colores,3);
            }}}}
.formulario {
    button {
    @extend %boton;
    font-family: nth($fuentes,2);
    margin: 8px 0 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
    background-color: nth($colores,2);
    color: nth($colores-fuente,2);
}}}
.formulario {
    div {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 10px;
    background: nth($colores,2);
    color: nth($colores-fuente,3);
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    span {
        margin: 0 5px 0 15px;
}}}